body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: azure;
    color: rgb(15, 1, 1);
}

#conteudo {
    font-family: sans-serif;
    width: 400px;
    background-color: rgb(248, 231, 176);
    border-radius: 3px;
    padding: 5px;
}

#btn {
    background-color: rgb(245, 107, 15);
    color: aliceblue;
    padding: 8px;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#btn:hover {
    background-color: rgb(247, 144, 60);
}
#btn:active {
    box-shadow: none;
}

#operadores {
    color: rgb(0, 1, 2);
}
